name: docker
on:
  push:
    tags:
    - v*
    branches:
    - ci/push-images-to-ecr
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Prepare tags
      id: tags
      shell: python
      run: |
        import datetime

        timestamp = str(int(datetime.datetime.now().timestamp()))
        base_ecr_tag = '${{ secrets.AWS_ECR_URL }}:'
        base_dockerhub_tag = 'docker.io/hathornetwork/hathor-wallet-headless:'

        tags = set()

        ref = '${{ github.ref }}'
        if ref.startswith('refs/tags/'):
            version = ref[10:].split('-', 1)[0]

            tags.add(base_ecr_tag + version)
            tags.add(base_ecr_tag + 'latest')

            tags.add(base_dockerhub_tag + version)
            tags.add(base_dockerhub_tag + 'latest')
        else:
            tags.add(base_ecr_tag + 'dev-${{ github.sha }}-' + timestamp)

        print("::set-output name=tags::" + ",".join(tags))
    - name: Set up QEMU
      uses: docker/setup-qemu-action@2  # we are trusting the action creator when using tags like this
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@2  # we are trusting the action creator when using tags like this
    - name: Login to DockerHub
      uses: docker/login-action@2  # we are trusting the action creator when using tags like this
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to AWS ECR
      uses: docker/login-action@2  # we are trusting the action creator when using tags like this
      with:
          registry: ${{ secrets.AWS_ECR_URL}}
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    - name: Build and push
      uses: docker/build-push-action@3  # we are trusting the action creator when using tags like this
      with:
        push: true
        tags: ${{ steps.tags.outputs.tags }}
        platforms: linux/amd64,linux/arm64
        cache-from: type=gha
        cache-to: type=gha,mode=max
