name: integration-test
on:
  push:
    branches:
      - master
      - dev
    tags:
      - v*
  pull_request:
    branches:
      - dev
      - master
jobs:
  itest:
    runs-on: ubuntu-20.04
    timeout-minutes: 45

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Copy config file
        run: cp ./__tests__/integration/configuration/config.js.template ./src/config.js

      - name: Run the tests
        run: npm run test_integration

      - name: Upload debug transaction logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-transacion-logs
          path: tmp
