name: tests
on:
  push:
    branches:
      - master
      - dev
    tags:
      - v*
  pull_request:
    branches:
      - dev
      - master
jobs:
  test:
    runs-on: "ubuntu-latest"
    timeout-minutes: 40 # default is 360
    strategy:
      matrix:
        node-version: [14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      # We mock the config module when testing the settings module, so it needs to exist
      - name: Create config module
        run: cp ./config.js.template ./src/config.js
      - name: Test
        run: npm run test
      - name: Upload coverage
        uses: codecov/codecov-action@v1
        if: ${{ matrix.node-version }} == 14.x
        with:
          verbose: true
